@section Styles
{
    <style></style>    
}

<div id="app">
    <div class="container" style="width:40%">
        <h3 class="text-center">購買方案</h3>
        <div class="form-floating mb-3">
            <select class="form-select" v-model="selectedOption" v-on:change="changeOption">
                <option v-for="option in options" v-bind:value="option.unitPrice">{{option.productName}}</option>
            </select>
            <label class="form-label">手機匯率</label>
        </div> 
    </div>
    
    
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.22/dist/vue.global.js"></script>
    <script>
        var baseAddress="https://localhost:7181";
        var vueApp={
            data(){
                return{ //model
                    // selectedOption:649,

                    options:[]
                };
            },
            methods:{ //controller
                changeOption:function(){
                    alert(this.selectedOption);
                }
            },
            mounted:async function(){ //view
                var response=await fetch(`${baseAddress}/api/products`,{
                    method:"GET"
                });
                if(response.ok){
                    this.options = await response.json();
                }
            }

        };
        var app=Vue.createApp(vueApp).mount("#app"); //View
    </script>
}