@section Styles
{
    <style></style>    
}

<div id="app">
    <label>費率選擇</label>
    <select>
        <option v-for="option in options" v-bind:value="option.price">{{option.name}}</option>
    </select>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.22/dist/vue.global.js"></script>
    <script>
        var vueApp={
            data(){
                return{ //model
                    options:[
                        {name:"499方案",price:499},
                        {name:"699方案",price:649},
                        {name:"899方案",price:799},
                    ]
                };
            },
            methods:{ //controller
                
            }
        };
        var app=Vue.createApp(vueApp).mount("#app"); //View
    </script>
}