@section Styles
{
    <style></style>    
}

<div id="app">
    <div class="container" style="width:40%">
        <h3 class="text-center">購買方案</h3>
        <div class="form-floating mb-3">
            <select class="form-select" v-model="selectedOption" v-on:change="changeOption">
                <option v-for="option in options" v-bind:value="option.price">{{option.name}}</option>
            </select>
            <label class="form-label">手機匯率</label>
        </div> 
    </div>
    
    
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.22/dist/vue.global.js"></script>
    <script>
        var vueApp={
            data(){
                return{ //model
                    selectedOption:649,

                    options:[
                        {name:"499方案",price:499},
                        {name:"699方案",price:649},
                        {name:"899方案",price:799},
                    ]
                };
            },
            methods:{ //controller
                changeOption:function(){
                    alert(this.selectedOption);
                }
            }
        };
        var app=Vue.createApp(vueApp).mount("#app"); //View
    </script>
}