@section Styles
{
    <style></style>
}

<div id="app">

</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.22/dist/vue.global.js"></script>
    <script>
        var vueApp={
            data(){
                return{
                
                };
            },
            methods:{
            
            },
        };
        var app=Vue.createApp(vueApp).mount("#app");
    </script>  
}