@section Styles
{
    <style></style>
}

<div id="app" class="container" style="width:40%">
    <h3 class="mb-3 text-center">匯率計算</h3>
    <div class="form-floating mb-3">
        <input class="form-control" v-model="rate" placeholder=""/>
        <label class="form-label">美金兌台幣匯率</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" v-model="twd" placeholder="" />
        <label class="form-label">台幣</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" v-model="usd" placeholder="" />
        <label class="form-label">美金</label>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.5.22/dist/vue.global.js"></script>
    <script>
        var vueApp={
            data(){
                return{
                    rate:30,
                    twd:1000,
                    usd:0,
                };
            },
            methods:{
            
            },
            watch:{
                twd(newVal,oriVal){
                    this.usd=newVal/this.rate;
                },
                usd(newVal,oriVal){
                    this.twd=newVal*this.rate;
                },
                rate(newVal,oriVal){
                    this.rate=twd*this.rate;
                },
            },
        };
        var app=Vue.createApp(vueApp).mount("#app");
    </script>  
}